<ul class="topnav">
    <li><a href="/test">Home</a></li>
    <li><a class="active" href="#index">Registration</a></li>
    <li><a href="/event_schedule">Event Schedule</a></li>
    <li><a href="/event_guidelines">Event Guidelines</a></li>
    <li><a href="/contact">Contact Details</a></li>
</ul>



<h3>You have made a successful registration</h3>
