<!DOCTYPE html>
<html lang="en">
<head>
 <title>Event Guidelines</title>
 <link rel="stylesheet" href="CSS/style.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<ul class="topnav">
    <li><a href="/test">Home</a></li>
    <li><a href="/index">Registration</a></li>
    <li><a href="/event_schedule">Event Schedule</a></li>
    <li><a class="active" href="#event_guidelines">Event Guidelines</a></li>
    <li><a href="/contact_details">Contact Details</a></li>
  </ul>
<div class="intro">
<h1>Intra-College Sports Tournament</h1>
<h2>Event Guidelines</h2>
<ul>
	<li>Be ensure to get present at the stadium prior by haly hour</li>
	<li>No Alcholic beverages to be taken by players</li>
	<li>Misusing or misbehaving with other team players is highly prohibited</li>
</ul>
</div>
</body>
</html>