<!DOCTYPE html>
<html lang="en">
<head>
 <title>Event Schedule</title>
 <link rel="stylesheet" href="CSS/style.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<ul class="topnav">
    <li><a href="/test">Home</a></li>
    <li><a href="/index">Registration</a></li>
    <li><a class="active" href="#event_schedule">Event Schedule</a></li>
    <li><a href="/event_guidelines">Event Guidelines</a></li>
    <li><a href="/contact_details">Contact Details</a></li>
  </ul>
<div class="intro">
<h1>Intra-College Sports Tournament</h1>
<h2>Event Schedule</h2>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Day</th>
      <th>Timings</th>
    </tr>
    <tr>
      <td><a href = "/get-data">Football</a></td>
      <td>06/09/2017</td>
      <td>Friday</td>
      <td>6:30 p.m - 8:00 p.m</td>
      
        
    </tr>
    <tr>
      <td><a href = "/get-data">Basketball</a></td>
      <td>06/10/2017</td>
      <td>Saturday</td>
      <td>4:30 p.m - 6:00 p.m</td>
    </tr>
    <tr>
      <td><<a href = "/get-data">Tennis</a></td>
      <td>06/11/2017</td>
      <td>Sunday</td>
      <td>5:00 p.m - 6:30 p.m</td>
    </tr>
  </table>
</div>

</div>
</body>
</html>