<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css">

    <script>
        $(document).ready(function(){
        $('.bxslider').bxSlider();
        });
    </script>


</head>
<body>

    <ul class="topnav">
      <li><a class="active" href="#test">Home</a></li>
      <li><a href="/index">Registration</a></li>
      <li><a href="/event_schedule">Event Schedule</a></li>
      <li><a href="/event_guidelines">Event Guidelines</a></li>
      <li><a href="/contact_details">Contact Details</a></li>
    </ul>

    <div>
        <h2>Home page</h2>
        <p>This website allows to know information, register for sports events in the tournament</p>

    </div>

    <ul class="bxslider">
      <li><img src="http://rattlerathletics.com/common/controls/image_handler.aspx?thumb_prefix=rp_primary&image_path=/images/2017/4/7/20170205_vs_AT_G3_063_web.jpg" width="989" height="492" /></li>
      <li><img src="http://rattlerathletics.com/common/controls/image_handler.aspx?thumb_prefix=rp_primary&image_path=/images/2017/4/9/20170325WTvs_Tarleton_68_web_85.jpg" width="989" height="492" /></li>
      <li><img src="http://rattlerathletics.com/common/controls/image_handler.aspx?thumb_prefix=rp_primary&image_path=/images/2017/4/8/20170203MT_vs_LCC_27_web.jpg" width="989" height="492" /></li>
    </ul>

    
</body>
</html>